// Colors 
$background-gray: #E5E5E5;
$background-black: #09131B;
$white: #FFFFFF;
$black-btn: #0E0E0E;
$black: #000000;
$yellow: #F2C94C;
$rating-yellow: #FFC22B;
$text-gray: #B1B4B9;
$body-text-gray: #8991AF
