section.highlights.content 
    .highlights-content
        .highlights-content-media
            .highlights-content-media-img 
                img(src="./img/svg/plane.svg", alt="Plane and money")
        .highlights-content-description
            h3.section-title Book your tickets at the comfort of your phone
            .section-description Leo elementum ac nisl donec eget turpis gravida. Sit tellus ultricies in urna, odio sagittis est egestas vel. Venenatis amet, tempus porttitor dolor adipiscing nascetur. Neque commodo neque varius tellus diam. Ultrices quam quisque sit eget integer pretium massa congue nunc.
        .highlights-content-description
            h3.section-title Easily Find awesome places to travel this year
            .section-description Leo elementum ac nisl donec eget turpis gravida. Sit tellus ultricies in urna, odio sagittis est egestas vel. Venenatis amet, tempus porttitor dolor adipiscing nascetur. Neque commodo neque varius tellus diam. Ultrices quam quisque sit eget integer pretium massa congue nunc.
        .highlights-content-media.highlights-content-media-img_top
            .highlights-content-media-img
                img(src="./img/svg/baggage.svg", alt="Cabin baggage") 



