section.testimonials.content
    .swiper
        .swiper-wrapper
            .swiper-slide
                .testimonials-slider
                    .testimonials-img
                        img(src=".//img/svg/quotes.svg", alt="Quotes")
                    .testimonials-content
                        p.testimonials-content__quote Richard is so good at what he does. Excellent communication skills made things much simpler and faster. Will continue working with him.
                        span.testimonials-content__author Dr. Steve Watson,
                        span.testimonials-content__company   Greenland Studio in.
            .swiper-slide
                .testimonials-slider
                    .testimonials-img
                        img(src=".//img/svg/quotes.svg", alt="Quotes")
                    .testimonials-content
                        p.testimonials-content__quote Richard is so good at what he does. Excellent communication skills made things much simpler and faster. Will continue working with him.
                        span.testimonials-content__author Dr. Steve Watson,
                        span.testimonials-content__company   Greenland Studio in.
            .swiper-slide
                .testimonials-slider
                    .testimonials-img
                        img(src=".//img/svg/quotes.svg", alt="Quotes")
                    .testimonials-content
                        p.testimonials-content__quote Richard is so good at what he does. Excellent communication skills made things much simpler and faster. Will continue working with him.
                        span.testimonials-content__author Dr. Steve Watson,
                        span.testimonials-content__company   Greenland Studio in.
        .swiper-pagination



