@import './normalize/normalize-no-comments.scss';
@import './vars/vars.scss';

*, *:before, *:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $background-gray;
    color: $white;
}

a, a:link, a:visited {
    text-decoration: none;
    color: $white;
}

ol, ul {
	list-style: none;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: auto;
    background-color: $background-black;
}
.content {
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
}
.item-button {
    background-color: #0059AC;
    border-radius: 8px;
    color: $white;
    font-family: 'Open Sans';
    font-style: normal;
}
.logo {
    font-size: 36px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
}

@import './chunks/*.scss';