@import './normalize/normalize-no-comments.scss';
@import './vars/vars.scss';

*, *:before, *:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $background-gray;
    color: $white;
}

a, a:link, a:visited {
    text-decoration: none;
    color: $white;
}

ol, ul {
	list-style: none;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: auto;
    background-color: $background-black;
}
.content {
    margin: 0 auto;
}

button {
    border: none;
    cursor: pointer;
}
.item-button {
    background-color: #0059ac;
    border-radius: 8px;
    color: $white;
    font-family: 'Open Sans';
    font-style: normal;
}
.logo {
    font-size: 36px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 45px;
}

.section-title {
    max-width: 540px;
    font-family: 'Arsenal';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}
.section-description {
    max-width: 540px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    color: $body-text-gray;
    padding-left: 10px;
}

// Media queries
@media(max-width: 1800px) {
    .content {
        padding: 0 20px;
    }
}

@import './chunks/*.scss';