
// Contacts
.header-top {
    display: flex;
    justify-content: space-between;
    height: 68px;
    max-width: 1717px;
    align-items: center;
}
.header {
    &-contacts{
        display: flex;
    }
    &-email {
        display: flex;
        align-items: center;
    }
    &-email:before {
        content: "";
        background-image: url("../img/svg/email.svg") no-repeat;
        width: 24px;
        height: 24px;
        padding-right: 12px;
    }
    &-phone {
        display: flex;
        padding-left: 24px;
        align-items: center;
    }
    &-phone:before {
        content: "";
        background-image: url("../img/svg/phone.svg") no-repeat;
        width: 24px;
        height: 24px;
        padding-right: 12px;
    }
}
.social {
    display: flex;
    align-items: center;
    text-align: center;
    width: 247px;
    justify-content: space-between;
    &__link svg {
        padding: 0 10px;
        fill: #a1a1a1;
        transition: all .3s ease;
        &:hover {
            fill: $white;
        }
    }
}

// Navigation
.header-content {
    background-position: center center;
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    position: relative;
}
.header {
    &-navigation {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        max-width: 1717px;
        margin-bottom: 123px;
        &__element {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 582px;
        }
        &__link {
            text-transform: uppercase;
            font-size: 17px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
        }
        &__icon picture {
            display: flex;
        }
    }
}

// App
.header-app {
    max-width: 600px;
    margin-bottom: 130px;
    text-align: center;
    padding-bottom: 76px;
    &__subtitle {
        text-transform: uppercase;
        font-family: 'Arsenal';
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.2em;
        margin: 0 0 -15px 0;
    }
    &__title {
        font-family: 'Arsenal';
        font-size: 144px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 18px;
    }
}
.header-search {
    &-form {
        // position: relative
        display: flex;
        justify-content: center;
    }
    &__title {
        font-family: 'Open Sans';
        font-style: italic;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    &__input {
        width: 476px;
        height: 76px;
        border: none;
        border-radius: 10px 0 0 10px;
        font-family: 'Open Sans';
        font-size: 19px;
        padding-left: 34px;
        outline: none;
        left: 0;
    }
    &__button {
        background-color: $black;
        width: 97px;
        height: 76px;
        border-radius: 0 10px 10px 0;
        &:after {
            content: url(../img/svg/search.svg);
            // position: absolute;
            // left: 39px;
            // top: 26px;
        }
        // &:before {
        //     content: "";
        //     display: block;
        //     width: 20px;
        //     height: 20px;
        //     background-color: blue($color: blue);
        // }
    }
}


// Features
.header-features {
    max-width: 1348px;
    margin: 0 auto 275px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-between;
}
.header-feature {
    &__img-wrapper {
        min-height: 70px;
        overflow: hidden;
        position: relative;
    }
    &__img {
        position: absolute;
        bottom: 0;
    }
    &__title {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 170%;
    margin-top: 20px;
    margin-bottom: 4px;
    }
    &__description {
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 16px;
        line-height: 170%;
    }
}

// About
.header-about {
    margin-bottom: 190px;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
    &__title {
        max-width: 540px;
        font-family: 'Arsenal';
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
    }
    &__description {
        max-width: 540px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 17px;
        line-height: 170%;
    }
}