
// Contacts
.header-top {
    display: flex;
    justify-content: space-between;
    height: 68px;
    max-width: 1717px;
    align-items: center;
}
.header {
    &-contacts{
        display: flex;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-decoration-line: underline;
    }
    &-email {
        display: flex;
        align-items: center;
    }
    &-email:before {
        content: "";
        background-image: url("../img/svg/email.svg") no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
    &-phone {
        display: flex;
        padding-left: 24px;
        align-items: center;
    }
    &-phone:before {
        content: "";
        background-image: url("../img/svg/phone.svg") no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }
}
.social {
    display: flex;
    align-items: center;
    text-align: center;
    width: 267px;
    justify-content: space-between;
    &__link > svg {
        padding: 0 10px;
        width: 100%;
        fill: #a1a1a1;
        transition: all .3s ease;
        &:hover {
            fill: $white;
        }
    }
}

// Navigation
.header-content {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    position: relative;
}
.header {
    &-navigation {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
        max-width: 1717px;
        margin: 0 auto 123px auto;
        &__element {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 50px;
        }
        &__link {
            text-transform: uppercase;
            font-size: 17px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            height: 24px;
            padding: 0 5px;
            border-radius: 5px;
            transition: .3s ease;
            &.active {
                display: block;
            }
            &:hover {
                background: #0059AC;
            }
            &:focus {
                background: #1982e4;
            }
        }
        &__icon {
            cursor: pointer;
            display: none;
            &-close {
                display: none;
            }
        }
        &__icon picture {
            display: flex;
        }
    }
}

// App
.header-app {
    max-width: 600px;
    margin-bottom: 130px;
    text-align: center;
    padding-bottom: 76px;
    &__subtitle {
        text-transform: uppercase;
        font-family: 'Arsenal';
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.2em;
        margin: 0 0 -15px 0;
    }
    &__title {
        font-family: 'Arsenal';
        font-size: 144px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 18px;
    }
}
.header-search {
    &-form {
        // position: relative
        display: flex;
        justify-content: center;
    }
    &__title {
        font-family: 'Open Sans';
        font-style: italic;
        font-size: 18px;
        letter-spacing: 0.1em;
    }
    &__input {
        width: 476px;
        height: 76px;
        border: none;
        border-radius: 10px 0 0 10px;
        font-family: 'Open Sans';
        font-size: 19px;
        padding-left: 34px;
        outline: none;
        left: 0;
    }
    &__button {
        background-color: $black-btn;
        width: 97px;
        height: 76px;
        border-radius: 0 10px 10px 0;
        &:after {
            content: url(../img/svg/search.svg);
        }
    }
}


// Features
.header-features {
    max-width: 1348px;
    margin: 0 auto 275px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-between;
}
.header-feature {
    &__img-wrapper {
        min-height: 70px;
        overflow: hidden;
        position: relative;
    }
    &__img {
        position: absolute;
        bottom: 0;
    }
    &__title {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 170%;
    margin-top: 20px;
    margin-bottom: 4px;
    }
    &__description {
        font-family: 'Open Sans';
        font-style: normal;
        font-size: 16px;
        line-height: 170%;
    }
}

// About
.header-about {
    padding-bottom: 190px;
    max-width: 1230px;
    display: flex;
    justify-content: space-between;
}

// Adaptive

@media (max-width: 992px) {
    .header-top {
        flex-direction: column;
        justify-content: space-evenly;
        height: 88px;
    }
    .header-navigation {
        max-width: none;
    }
    .header-navigation__element {
        column-gap: 30px;
    }
}
@media (max-width: 768px){
    .header-content {
        padding: 0;
    }
    .header-navigation {
        position: relative;
        &__element {
            position: absolute;
            background: #09131B;
            flex-direction: column;
            width: 100%;
            top: -1px;
            padding: 50px 0 50px 0;
            row-gap: 30px;
            transform: translateX(100%);
            transition: all .6s ease-in-out;
            &.active {
                transform: translateX(0%);
                transition: all .6s ease-in-out;
            }
        }
    }
    .header-navigation__icon {
        display: block;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        &-close {
            position: absolute;
            right: 20px;
            display: block;
        }
    }
    .header-navigation__logo, .header-navigation__icon {
        padding: 0 20px;
    }
}
@media (max-width: 640px) {
    .header-contacts {
        display: flex;
        flex-direction: column;
    }
    .header-top{ 
        height: 108px;
        justify-content: center;
    }
    .header-phone {
        margin-bottom: 5px;
        padding-left: 0;
    }
}