.highlights {
    max-width: 1260px;
    margin-bottom: 160px;
    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 160px 70px;
    }
}
.highlights-content-media-img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 1440px) {
    .highlights-content-media-img img {
        max-width: 450px;
    }
    .highlights-content {
        column-gap: 40px;
    }
}
@media (max-width: 1040px) {
    .highlights-content {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 0;
        &-media-img_top {
            grid-row-start: 3;
            margin-top: 150px;
        }
    }
}
@media (max-width: 640px) {
    .highlights-content-media-img img {
        max-width: 300px;
    }
}