
// Title
.hotels {
    max-width: 1400px;
    margin-bottom: 229px;
    &-countries {
        display: flex;
        text-align: center;
        justify-content: center;
        column-gap: 40px;
        margin-bottom: 40px;
        position: sticky;
        top: 0;
        background: #09131B;
        z-index: 1;
        padding: 10px 0;
    }
    &-countries-name {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        padding: 5px 13px;
        cursor: pointer;
    }
    &-countries-name.active {
        color: $black;
        background: $yellow;
        border-radius: 8px;
    }
    &-items-content {
        display: none;
        &.active {
            display: block;
        }
    }
}

// Items
// Hotels rating from 0 to 5 star styles
.yellow-star {
    fill: $rating-yellow;
}
.hotels-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    margin-bottom: 80px;
}
.hotels-item {
    border-radius: 8px;
    background-color: $black;
    &__img-wrapper {
        position: relative;
        margin-bottom: 38px;
    }
    &__img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: 256px;
        object-fit: cover;
    }
    &__title {
        font-family: 'Arsenal';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: 0.01em;
        text-align: center;
        margin: 0;
        margin-bottom: 18px;
    }
    &__heart {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
        &-path.favorited {
            fill: $rating-yellow;
        }
    }
    &__rating {
        padding-left: 24px;
        margin-bottom: 33px;
    }
    &__star:not(:last-child) {
        margin-right: 8px;
    }
    &__price-wrapper {
        padding-right: 22px;
        text-align: right;
        font-family: 'DM Serif Display';
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 25px;
        margin-bottom: 21px;
    }
    &__price_old {
        font-style: italic;
        font-size: 22px;
        text-decoration-line: line-through;
        color: $text-gray;
        padding-right: 3px;
    }
    &__price_big {
        font-size: 48px;
        text-align: right;
    }
    &__description {
        padding: 0 24px;
        margin: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 170%;
        color: $body-text-gray;
    }
    &__saving {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #111111;
        display: block;
        margin-bottom: 20px;
    }
    &__button {
        width: 290px;
        height: 92px;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-weight: 700;
        font-size: 17px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
}

.hotels-button {
    width: 151px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    margin: 0 auto;
    display: block;
    border: 2px solid #FFFFFF;
    background-color: none;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Media
@media (max-width: 1440px) {
    .hotels-items {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 50px;
        column-gap: 20px;
    }
    .hotels-item__img {
        max-width: none;
        width: 100%;
        object-fit: cover;
    }
}
@media (max-width: 768px) {
    .hotels-countries {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        &-name {
            justify-self: center;
        }
    }
    .hotels-items {
        grid-template-columns: repeat(1, 1fr);
    }
}
