// Extends
%price-item-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $body-text-gray;
}
%price-bottom-text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $body-text-gray;
}

.pricing {
    background-image:  url('../img/svg/footer-bg.svg');
    background-size: cover;
    background-position: center center;
    margin-bottom: 60px;
}
.price-items {
    display: flex;
    max-width: 1400px;
    margin: 0 auto 180px;
    justify-content: space-between;
    gap: 10px;
}

.price-item {
    background-color: rgba(0, 0, 1, 0.8);
    border-radius: 16px;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 850px;
    flex-direction: column;
    flex-basis: 430px;
    &-content {
        max-width: 310px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 60px 20px 0 20px;
    }
    &-big {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 25px;
        letter-spacing: 0.03em;
        color: $white;
    }
    &-month {
        @extend %price-item-text;
        color: #A5ADBB;
    }
    &-name {
        color: $white;
        font-family: 'Arsenal';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 30px;
        margin-top: 17px;
    }
    &-description {
        @extend %price-item-text;
    }
    &-features {
        margin-top: 20px;
        padding-top: 60px;
        border-top: 2px solid rgba(235, 236, 237, 0.2);
    }
    &-feature {
        @extend %price-item-text;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &::before{
            content: url('../img/svg/price-check-mark.svg');
            margin-right: 10px;
        }
    }
    &-button {
        margin-top: auto;
        margin-bottom: 80px;
        height: 50px;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px auto 80px auto;
        cursor: pointer;
    }
}

// Price bottom 
.price-bottom {
    text-align: center;
    margin-bottom: 50px;
    &-logo {
        font-size: 48px;
        margin: 0 auto 15px;
    }
    &-email {
        @extend %price-bottom-text;
        text-decoration: underline;
        font-size: 24px;
        margin-bottom: 20px;
    }
    &-social {
        margin: 0 auto;
    }
    &-address {
        @extend %price-bottom-text;
        margin-bottom: 40px;
    }
}


// Media
@media (max-width: 992px) {
    .price-items {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
    .price-item {
        width: 90%;
        justify-content: space-between;
        min-height: auto;
        background-color: rgba(0, 0, 1, 0.6);
        &-content {
            max-width: none;
        }
        &-button {
            margin-bottom: 50px;
        }
        &-features {
            padding-top: 40px;
        }
    }
}
@media (max-width: 640px) {
    .price-item-button {
        max-width: 200px;
    }
    .price-bottom-email {
        font-size: 22px;
    }
}